* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #575C74;
  display: block;
}

img {
  display: block;
}

/*-- variables --*/
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid green;
}

/*-- header --*/
.header {
  background-image: url(../images/header-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #E5E5E5;
  margin-bottom: 133px;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 56px;
}
.header .header__top .menu {
  margin-left: auto;
}
.header .header__top .menu .menu__list {
  display: flex;
}
.header .header__top .menu .menu__list .menu__item + .menu__item {
  margin-left: 45px;
}
.header .header__top .menu .menu__list .menu__item + .menu__item .menu__link {
  transition: all 0.3s;
}
.header .header__top .menu .menu__list .menu__item + .menu__item .menu__link:hover {
  color: #0C122D;
}
.header .header__top .header__top-btn {
  padding: 9px 25px;
  border-radius: 8px;
  margin-left: 45px;
  background-color: #1B5FC1;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFF;
}
.header .header__main {
  display: flex;
  margin-bottom: 72px;
}
.header .header__main .header__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header__main .header__main-info .header__main-pretitle {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #FFB800;
}
.header .header__main .header__main-info .header__main-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  margin-bottom: 40px;
  color: #0C122D;
}
.header .header__main .header__main-info .header__main-text {
  line-height: 24px;
  max-width: 555px;
  margin-bottom: 54px;
}
.header .header__main .header__main-info .header__main-buttons {
  max-width: 260px;
  display: flex;
  justify-content: space-between;
}
.header .header__main .header__main-info .header__main-buttons .header__main-button {
  padding: 8px 24px;
  background-color: #FFF;
  border: 1px solid #FFB800;
  border-radius: 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFB800;
  transition: all 0.5s;
}
.header .header__main .header__main-info .header__main-buttons .header__main-button:hover {
  border: 1px solid transparent;
  background-color: #1B5FC1;
  color: #FFF;
  box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.1882352941);
}
.header .header__main .header__main-img {
  border-radius: 15px 15px 15px 0;
}
.header .header__benefits {
  border: 1px solid transparent;
  display: flex;
  justify-content: space-around;
}
.header .header__benefits .header__benefits-item {
  border: 1px solid transparent;
  padding-left: 60px;
  max-width: 267px;
  position: relative;
}
.header .header__benefits .header__benefits-item .header__benefits-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0C122D;
}
.header .header__benefits .header__benefits-item .header__benefits-title--shipping::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../images/shipping.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header__benefits .header__benefits-item .header__benefits-title--inspection::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../images/inspection.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header__benefits .header__benefits-item .header__benefits-title--support::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../images/support.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header__benefits .header__benefits-item .header__benefits-title--payment::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 57px;
  height: 50px;
  background-image: url(../images/payment.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header .header__benefits .header__benefits-item .header__benefits-text {
  font-size: 15px;
  line-height: 22px;
}

/*-- about --*/
.about {
  background-image: url(../images/about-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFF;
}
.about .about__item {
  display: flex;
  justify-content: space-between;
}
.about .about__item .about__content {
  max-width: 523px;
}
.about .about__item .about__content .about__content-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 26px;
  color: #0C122D;
}
.about .about__item .about__content .about__content-text .key-words {
  font-weight: 700;
}
.about .about__item .about__content .about__content-text + .about__content-text {
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */