*{ 
  box-sizing: border-box;
}  
 
a{ 
  text-decoration:none; 
  color:#575C74; 
  display: block;
} 
 
img{ 
  display: block; 
}
  
// font-family: 'Open Sans', sans-serif;
// font-family: 'Rubik', sans-serif;  
 
/*-- variables --*/ 
$dark: #0C122D;  
$grey: #575C74; 
$blue: #1B5FC1; 
$accent: #FFB800;

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $grey; 
} 
 
.container{ 
  max-width: 1150px; 
  margin:0 auto;  
  padding: 0 10px;  
  border:1px solid green; 
}  
  

 
/*-- header --*/ 
 
.header {
  background-image: url(../images/header-bg.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  .header__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
  
      .menu {
        margin-left: auto;
  
        .menu__list {
          display: flex;
  
          .menu__item+.menu__item {
            margin-left: 45px;
  
            .menu__link {
              transition: all .3s;
            }
  
            .menu__link:hover {
              color: $dark;
            }
  
          }
        }
      }
  
      .menu__link-btn {
        padding: 9px 25px;
        border-radius: 8px;
        margin-left: 45px;
        background-color: $blue;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        color: #FFF;
      }
    }
}